.imgCard {
  width: "100%";
  max-height: 180px;
  min-height: 180px;
}

.cardFormation {
  width: 15em !important;
  margin: 0 1em 1.5em 1em;
}

.centringCard {
  text-align: center;
}

.groupCard {
  width:75vw;
  height:100vh;
}